.button {
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #1e58ff;
  color: #1e58ff;
  max-width: 120px;
}

.secondary {
  @extend .button;
  background: #1e58ff;
  color: white;
}


@media (max-width:800px) {
  .button {
    padding: 3px 7px;
  }
}