.wrapper {
  width: 90%;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    color: #1e58ff;
    margin-bottom: 20px;
  }

}


.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width:800px) {
  .wrapper {
    margin: 10px auto 5px;

    & h2 {
      margin-bottom: 5px;
      margin-top: -30px;
    }
  }
}