.wrapper {
  display: inline-flex;
  list-style: none;
  background-color: #fff;
}

.navigationItem {
  padding: 20px;
  margin: 0 30px;

  &Link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #818181;

    &Active {
      color: red;
    }
  }

}

@media (max-width:800px) {
  .navigationItem {
    padding: 5px;
    margin: 0;
  }
}