.wrapper {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #fff;

  & nav {
    flex-grow: 1;
  }

  & img {
    margin-left: 20px;
  }

  & button {
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    font-size: 10px;

    & img {
      width: 20%;
      margin-left: 5px;
    }

    & button {
      margin-right: 5px;
    }
  }


}